@import '/icons.scss';
@import '/variables.scss';

@import 'dashboard/header.scss';
@import 'dashboard/footer.scss';
@import 'dashboard/menu.scss';
@import 'dashboard/timeheader.scss';
@import 'dashboard/general.scss';

@import 'tablero/tablero.scss';
@import 'tablero/sensorTypes.scss';
@import 'account/account.scss';
@import 'account/userbox.scss';

@import 'settings/settings.scss';

@import 'login/login.scss';

@import 'notifications/notifications.scss';

@import 'general/editUser.scss';
@import 'general/selectmedidor.scss';

@import 'range/range.scss';
@import 'historic/historic.scss';

//fuentes
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Roboto');



* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
}

#generalDiv{
    min-height: 100vh;
    height: auto;
}
#app {
    font-family: 'Roboto','helvetica';
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #d6d6d6;
}
.views{ 
    width: 95%;
    display: inline-block;
    vertical-align: middle;
    &.active{
        width: 80%;
    }
}
