$dark-0: #000000;
$dark-1: #212121;
$dark-2:  #303030;
$dark-3: #424242;

@import '~bulma';
@import url('https://use.fontawesome.com/releases/v5.0.8/css/all.css');

section {
  float: right;
  margin: 0 1.5%;
}
aside {
  float: left;
  margin: 0 1.5%;
  width: 15%;
}


