$icomoon-font-path: "fonts" !default;

$icon-calendar1: \e928;
$icon-parameters1: \e929;
$icon-edit-user: \e92a;
$icon-consumption-path1: \e92b;
$icon-consumption-path2: \e92c;
$icon-consumtion2: \e92d;
$icon-dashboard: \e92e;
$icon-edit: \e92f;
$icon-range: \e930;
$icon-parameter-range: \e931;
$icon-my-account-user: \e932;
$icon-add-user-noti: \e933;
$icon-edit-user-noti: \e934;
$icon-user-box: \e935;
$icon-add-user-button: \e936;
$icon-current: \e900;
$icon-reactive-power: \e901;
$icon-historic-path1: \e902;
$icon-historic-path2: \e903;
$icon-historic-path3: \e904;
$icon-historic-path4: \e905;
$icon-Power: \e906;
$icon-notification: \e907;
$icon-clock-white: \e908;
$icon-current2: \e909;
$icon-delete: \e90a;
$icon-current3: \e90b;
$icon-volt: \e90c;
$icon-electric-current: \e90d;
$icon-voltage2: \e90e;
$icon-energy2: \e90f;
$icon-graph-analysis: \e910;
$icon-graph-line-screen: \e911;
$icon-growth: \e912;
$icon-contact: \e915;
$icon-img_485242: \e916;
$icon-laptop: \e917;
$icon-logout: \e918;
$icon-menu2: \e919;
$icon-rubbish: \e91a;
$icon-settings: \e91b;
$icon-cinvestav: \e91c;
$icon-my-account-path1: \e91d;
$icon-my-account-path2: \e91e;
$icon-user-3: \e91f;
$icon-add-user: \e920;
$icon-user2: \e921;
$icon-voltage: \e922;
$icon-voltmeter: \e923;
$icon-voltaje: \e925;
$icon-file-empty: \e924;
$icon-address-book: \e944;
$icon-clock: \e94e;
$icon-calendar: \e953;
$icon-user: \e971;
$icon-user-plus: \e973;
$icon-search: \e986;
$icon-zoom-in: \e987;
$icon-zoom-out: \e988;
$icon-key: \e98d;
$icon-lock: \e98f;
$icon-wrench: \e991;
$icon-cog: \e994;
$icon-stats-dots: \e99b;
$icon-stats-bars: \e99c;
$icon-bin: \e9ac;
$icon-power: \e9b5;
$icon-menu: \e9bd;
$icon-sad: \e9e5;
$icon-sad2: \e9e6;
$icon-warning: \ea07;
$icon-plus: \ea0a;
$icon-cross: \ea0f;
$icon-enter: \ea13;
$icon-exit: \ea14;
$icon-arrow-up-left: \ea31;
$icon-arrow-up: \ea32;
$icon-arrow-up-right: \ea33;
$icon-arrow-right: \ea34;
$icon-arrow-down-right: \ea35;
$icon-arrow-down: \ea36;
$icon-arrow-down-left: \ea37;
$icon-arrow-left: \ea38;
$icon-arrow-up-left2: \ea39;
$icon-arrow-up2: \ea3a;
$icon-arrow-up-right2: \ea3b;
$icon-arrow-right2: \ea3c;
$icon-arrow-down-right2: \ea3d;
$icon-arrow-down2: \ea3e;
$icon-arrow-down-left2: \ea3f;
$icon-arrow-left2: \ea40;
$icon-circle-up: \ea41;
$icon-circle-right: \ea42;
$icon-circle-down: \ea43;
$icon-circle-left: \ea44;
$icon-tab: \ea45;
$icon-checkbox-checked: \ea52;
$icon-checkbox-unchecked: \ea53;
$icon-radio-checked: \ea54;
$icon-radio-checked2: \ea55;
$icon-radio-unchecked: \ea56;
$icon-share: \ea7d;
$icon-mail2: \ea84;
$icon-file-pdf: \eadf;
$icon-svg: \eae9;

